*{
    font-family: roboto;
}
body{
    background-color:#1D1D23;
}
header>h1{
    color:white;
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-weight: 700;
    padding-top: 28px;
}
.container{
    width:75%;
    height:20vh;
    background-color: #34344A;
    color:#FFFF;
    font-size: 22px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 180px;
    align-items: center;
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #currTime{
    background-color: #39393E;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:15vw;
    height: 10vh;
    color: white;
    font-size: 20px;
    margin: 15px;
    margin-left: 40%;
  }
  #no-timers-display-msg{
    color: white;
    font-size: 20px;
    margin: 15px;
    margin-left: 40%;
  }

    /* changing the styles of input elements */
    input[type="number"] {
        background-color: transparent;
        color: white;
        font-size: 24px;
        width: 45px;
        height: 24px;
        border: none;
        text-decoration-line: underline;
        margin: 0px 10px;
      }
      input[type="number"]:focus {
        outline: none;
      }
      input[type="number"]::placeholder {
        color: white;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      /* set button style */
      #set-btn,
      .btn {
        background-color: rgba(255, 255, 0, 0.9);
        padding: 7px 25px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      /* Current timer divider */
      #current-timers {
        background-color: #34344a;
        padding: 10px 50px;
        border-radius: 10px;
      }
      /* Time up css */
      .time-up {
        background-color: #ebeb07;
        color: #34344a;
        font-weight: 600;
      }
      .time-up > span:nth-child(2){
          font-size: 25px;
      }
      .delete-btn {
        background-color: #34344a;
        color: #ebeb07;
        font-weight: 600;
      }
      /* main timer css */
      .timer-card {
        background-color: #34344a;
        padding: 20px 30px;
        width: 450px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
      }
      /* changing the styles of input elements */
      input[type="number"] {
        background-color: transparent;
        color: white;
        font-size: 24px;
        width: 45px;
        height: 24px;
        border: none;
        text-decoration-line: underline;
        margin: 0px 10px;
      }
      input[type="number"]:focus {
        outline: none;
      }
      input[type="number"]::placeholder {
        color: white;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    
      #set-btn,
      .btn {
        background-color: #f0f757;
        padding: 7px 25px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      /* Current timer divider */
      #current-timers {
        background-color: #39393e;
        padding: 10px 50px;
        border-radius: 10px;
      }
      /* Time up card css */
      .time-up {
        background-color: #ebeb07;
        color: #34344a;
        font-weight: 600;
      }
      .time-up > span:nth-child(2){
          font-size: 25px;
      }
      .delete-btn {
        background-color: #34344a;
        color: #ebeb07;
        font-weight: 600;
      }